.formbox{
  border: 5px solid blue;
  margin: auto;
  align-items: center;
  align-content: center;
  padding: 0.5rem;
  width: max-content;
}

  
  .formbox > *{
    display:block;
    margin: auto;
  }

  .formbox >input{
    display: flex;
    justify-content: start;
  }
  